 .note {
     color: #202124;
     border: 1px solid rgb(199, 199, 199);
     border-radius: 8px;
     word-break: break-word;
     position: relative;
     display: inline-block;
     margin: 0 0 1em;
     width: 100%;
     padding: 1rem;
 }
 
 .notes-gallery {
     padding: 1rem;
 }
 
 .notes-list {
     max-width: 1200px;
     margin: 10px auto;
     column-count: 4;
     column-width: 250px;
     padding: 10px;
     border-radius: 10px;
     position: relative;
     margin-bottom: 50px;
 }
 
 .note-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .note-type {
     position: absolute;
     left: 0;
     bottom: 0;
     padding: 0.5rem;
 }
 
 .txt {
     font-weight: bold;
     margin-top: 0.5rem;
 }